.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    flex-direction: column;
    span{
        font-size: 2rem;
        margin-top: 1rem;
        letter-spacing: 1px;
        font-weight: bold;
        color: white;
    }
}

@media (max-width: 640px) {
    .icon-container{
        img{
            width: 150px;
            margin-top: -1.5rem;
        }
        span{
            margin-top: -0.25rem;
            font-size: 1.5rem;
            letter-spacing: 2px;
        }
    }
}